@{
    ViewBag.Title = "Person Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 align="center">Health Catalyst Person Search</h1>
</div>
<div class="row">
    <div class="col-lg-5">
        <div class="input-group" id="searchSection">
            <h2 style="text-align:center;">Search For Person(s)</h2>
            <input type="text" placeholder="Start Typing First/Last Name Here to Search" class="form-control" id="searchedName" />
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-5">
        @using (Ajax.BeginForm("DelayedSearch", "Home", new AjaxOptions { LoadingElementId = "loading", OnSuccess = "fullList", OnBegin = "clearList" }))
        {
            <button class="btn btn-danger pull-right" style="margin-top:45px;">Simulate Delayed Search and Return All</button>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" id="personTableList">
            <tbody id="personTableBody"></tbody>
        </table>
    </div>
</div>

<div id="loading" class="alert" style="display:none;" align="center">
    <h4>Loading your results......Please Wait<img src="~/Content/ajax-loading-gif.gif" width="50" /></h4>
</div>